html,body{
/*background:url("../images/bg.jpg") no-repeat fixed center top #3C4240;*/
color:#FFFFFF;
font-family:Calibri,'Trebuchet MS',Tahoma,Arial;
font-size:14px;
margin:0;

}
a, a:visited, a:link {
text-decoration:none;
color:#FFFFFF;
}
a:hover{
color:#999999;
}
.rightHead{
color:#FFFFFF;
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
margin-bottom:10px;
margin-top:50px;
padding-right:15px;
text-align:right;
}
.transparent_box{
filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}
.tnav{
-moz-border-radius:15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
background-color:#1F1F1F;
color:#FFFFFF;
font-size:2em;

height:1.3em;

padding:10px;
}
.tnav a, a:visited, a:link {
text-decoration:none;
color:#FFFFFF;
}
.tnav a:hover{
color:#999999;
}
   
 
.tapp{
   padding:15px;
   color:#FFFFFF;
   margin-top:10px;
   margin-bottom:20px;
   background:url("../images/bgpattern.png") repeat scroll 0 0 transparent;
   -moz-border-radius:20px;
   -webkit-border-radius: 20px;
   min-height:500px;
}

.tbanner{
background:#EBEBEB;
height:108px;
-moz-border-radius:0px 0px 18px 18px;
-webkit-border-radius: 0px 0px 18px 18px;
margin-bottom:3px;
}
/*   .tfooter{*/
/*  font-family:Verdana;*/
/*font-size:1.3em;*/
/*   }*/
/*   .tfooter a, a:visited, a:link {*/
/*text-decoration:none;*/
/*color:#FFFFFF;*/
/*}*/
/*.tfooter a:hover{*/
/*color:#999999;*/
/*}*/


.tbanHead{
font-size:3em;
font-weight:bold;
padding-left:30px;
padding-top:5px;
text-decoration:overline;
}

.navlist{
padding-left:10px;
}

.navlist li{
   float:left;
   padding-right:10px;
   padding-left:10px;
   border-right:solid 2px #CCCCCC;
}

.tbox{

   padding: 15px;
   font-size:1.3em;
   text-align:center;
   
   float:left; margin:10px; height:280px; width:230px;
}

.hbox{
   padding: 15px;
 
   text-align:center;
   
   float:left; margin:10px; 
}

.tform{
   font-size:20px;
   width:90%;
   margin:auto;
}

.tform input{
float:left;
}
h2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1.3em;
}
.tformfield{
   -moz-border-radius:7px 7px 7px 7px;
   -webkit-border-radius: 7px 7ps 7px 7px;
    border:1px solid #C0C0C0;
    padding:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;

}
   
.tformfield legend{
color:#CCCCCC;
}   
 label{
float:left;
font-family:verdana;

text-align:right;
width:300px;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}


br{
clear: left;
}

input, button{
font-family:Arial,Helvetica,sans-serif;
}

input[type="text"],input[type="password"]{
font-size:18px;
border:solid 1px #999999;
height:26px;
}
/*input[type="submit"], .greenButton {*/
/*background:url("../images/lgreen_bg_strip.png") repeat-x scroll 0 0 transparent;*/
/*border: none;*/
/*height:30px;*/
/*font-size:22px;*/
/*margin-left:300px;*/
/*-moz-border-radius:4px;*/
/*-webkit-border-radius: 4px;*/
/*}*/
/*input[type="submit"]:hover, .greenButton:hover {*/
/*background:url("../images/green_bg_strip.png") repeat-x scroll 0 0 transparent;*/
/*border:medium none;*/
/*-moz-border-radius:4px;*/
/*-webkit-border-radius: 4px;*/
/*margin-left:300px;*/
/*font-size:22px;*/
/*}*/

.cancelButton{
background:url("../images/red_bg_strip.png") repeat-x scroll 0 0 transparent;
border:medium none;
-moz-border-radius:4px;
-webkit-border-radius: 4px;
font-size:22px;
}

.cancelButton:hover {
background:url("../images/lred_bg_strip.png") repeat-x scroll 0 0 transparent;
border:medium none;
-moz-border-radius:4px;
-webkit-border-radius: 4px;
font-size:22px;
}
/*button{*/
/*background:url("../images/button.png") repeat-x scroll 0 0 transparent;*/
/*border:medium none;*/
/*-moz-border-radius:4px;*/
/*-webkit-border-radius: 4px;*/
/*margin-left:5px;*/
/*width:110px;*/
/*}*/
/*button:hover{*/
/*background:url("../images/button_dark.png") repeat-x scroll 0 0 transparent;*/
/*border:medium none;*/
/*-moz-border-radius:4px;*/
/*-webkit-border-radius: 4px;*/
/*margin-left:5px;*/
/*width:110px;*/
}
.keyTD{
padding-right:8px;
font-weight:bold;
text-align:right;
padding-bottom:4px;
}

.valueTD{
padding-right:8px;
font-weight:bold;
padding-bottom:4px;
color:#629101;
}
.sysmessage{
background:#CCCCCC;
border:#CFCFCF;
-moz-border-radius:9px;
-webkit-border-radius: 9px;
width:80%;
margin-left:40px;
padding:10px;
color:#629101;
font-size:18px;
font-weight:bold;
text-align:left;
margin-bottom:10px;
}
.errmessage{
color:#CC0000;
}

.wordswarm{
	background:#8ec1da;
	-webkit-border-radius: 9px;
	width: auto;
	text-align:left;
}

.addKform{
	width: auto;
	
	border: "3px solid red";
	padding: 5px;
}

#map_canvas { 
	background:#8ec1da;
	-webkit-border-radius: 9px;
	width: auto;
	text-align:center; 
}

#ft { 
	background:#8ec1da;
	-webkit-border-radius: 9px;
	width: auto;
	text-align:center;
	margin: 10px;
	padding: 5px; 
}
